@import "catalogo";
@import "index";
@import "ingresar";
@import "soporte";
@import "tiendafisica";



* {
    margin: 0;
    box-sizing: border-box;
    background-image: url("https://wallpaperaccess.com/full/1719697.png");
}

